
body {
    font-family: Baskerville ,serif; //change this once font is working
    font-size: 120%;
}

//for h1 really big headings
h1 {
    font-size: 3em; 
    font-weight: normal;
  }
  
// for most other headings
h2 {
    font-size: 2em; 
    font-style: italic;
    font-weight: normal;
    margin-left: 1em;
}

p {
    font-size: 1em; 
    color: rgb(97, 97, 97);
}

.highlight {
    color: black
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}